.weather_toolbar {
    margin: 0 10px;
    font-size: 1.05rem;

    .btn-group {
        margin: 4px;
    }

    .label {
        overflow: hidden;
        white-space: nowrap;
        padding-top: 4px !important;
        margin-right: 4px;
}

    .locality-name {
        width: inherit;
    }
}
