.weather_buttons_container {
    margin: 0 10px;

    .btn-group {
        margin: 4px;
    }

    .label {
        overflow: hidden;
        // text-overflow: ellipsis;
        white-space: nowrap;
    }

    .locality-name {
        width: inherit;
    }
}
