.o-radio {
    input {
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        width: 14px;
        height: 14px;
        border: 1px solid #D8DADD;
        box-sizing: border-box;
        outline: none;
        border-radius: 8px;

        &:checked {
            background: url("data:image/svg+xml,${encodeURIComponent(<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='2' fill='#FFF'/></svg>)}");
            background-color: #017E84;
            border-color: #017E84;
        }
    }
}
